*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: lightgray;
  background-image: url(./Assets/4-42609_matrix-animated-gif-free-wallpaper-download-matrix-gif.jpg);
}

.wrapper {
  padding: 30px 20px 0px
}

header {
  width: 75%;
  margin-top: -20px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  text-decoration: underline;
  color: rgb(14, 143, 14);
  background: black;
  border: 3px solid green;
}

.card {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 30px 40px;
  font-size: 18px;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  background: black;
  border: 3px solid green;
}

.card-header h2 {
  text-align: center;
  font-weight: bold;
  color: rgb(22, 168, 22);
}

.card-header::after {
  content: " ";
  display: block;
  height: 2px;
  width: 100%;
  background: #e7e9eb;
}

.card-body {
  min-height: 100px;
}

.card-body-text h3 {
  margin-top: -10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: rgb(22, 168, 22);
}

#asterisk {
  color: red;
}

.form-text-color {
  color: rgb(22, 168, 22);
}

#password-length-input {
  color: rgb(22, 168, 22);
  background: black;
}

.form-check {
  font-size: 15px;
  color: rgb(22, 168, 22);
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  padding: 14px 34px;
  margin: 16px 16px 16px 20px;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  line-height: 22px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  background-color: darkgreen;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  width: 100%;
  padding: 15px 15px 85px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  resize: none;
  overflow: hidden;
  text-align: center;
  font-size: 1.2rem;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  color: rgb(22, 168, 22);
  background: black;
}

@media (max-width: 690px) {
  
  .btn {
    padding: 10px 15px;
    margin: 16px 0px 0px 0px;
    font-size: 1rem;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {

  header h1 {
    font-size: 30px;
  }

  .card-header h2 {
    font-size: 25px;
  }

  .btn {
    font-size: 0.8rem;
  }
}
